#headerDiv {
    margin: 2%;
    padding: 2%;
    width: 92%;
    height: 2%;
    background-color: grey;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    font-weight: 500;
    color: white
}

.leftAlignedH2 {
    margin-left: 2%;
    font-family: Helvetica;
    font-weight: 300;
}

.rightAlignedH2 {
    margin-left: 70%;
    font-family: Helvetica;
    font-weight: 300;
}

#inputFields {
    display: inline-block;
    margin-left: 2%;
    padding: 0%;
    width: 100%;
    height: 2%;
}

#theWholeTable {
    font-family: Helvetica;
    margin: 2%;
    width: 95%;
    height: 5%;
    border-collapse: collapse;
    border: 1px solid;
}
th, td {
    border: 1px solid;
}

#headOfTable {
    background-color: rgb(179, 177, 177);
    width: 2em;
    height: 2em;
    text-align: left;
    border-collapse: collapse;
}

/* The two elements below were taken from W3Schools */
#bodyOfTable 
    tr:nth-child(odd) {background: #FFF}
    tr:nth-child(even) {background: #CCC}

